@model IEnumerable<Riipen_SSD.ViewModels.AdminViewModels.TeamScoreVM>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Styles/Judge_Participant.css" rel="stylesheet" />

@{
    ViewBag.Title = "Finalize Contest";
}
<style>
    /*#sortable1{
      border: 1px solid #eee;
      width: 200px;
      min-height: 20px;
      list-style-type: none;
      margin: 0;
      padding: 5px 0 0 0;
      float: left;
      margin-right: 10px;
    }
    #sortable1 li{
      margin: 0 5px 5px 5px;
      padding: 5px;
      font-size: 1.2em;
      width: auto;
    }*/
    #centerLists {
        margin: auto;
        width: 800px;
    }

    #sortable2, #sortable1 {
        border: 1px solid #eee;
        width: 350px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
    }

        #sortable2 li, #sortable1 li {
            width: auto;
        }

    #first {
        color: #E7CC5B;
    }

    #second {
        color: #D6D5D3;
    }

    #third {
        color: #D8A262;
    }
</style>

@section scripts{
    <script src="~/JavaScript/FinalizeContest.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Styles/ContestScores.css" />
}




<div class="header">
    <p class="title"><span class="small-title">@ViewBag.contestName</span></p><br />

    <div class="searchForm">
        @using (Html.BeginForm("ContestScores", "Admin", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <input name="contestID" value="@ViewBag.contestId" hidden />
            <button type="submit" class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
            <input type="text" name="searchATeam" value="@ViewBag.searchStringValue" placeholder="Search"><span class="searchIn">&nbsp;in teams</span>
        }
    </div>
</div>

<div class="judge-participant-wrapper">
    <div class="dropdown" id="sortButton" style="margin-top:10px;margin-bottom:10px;float:right">
        Sort: <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @ViewBag.sortStringValue
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortMenu">
            <li>@Html.ActionLink("Status", "ContestScores", new { contestID = ViewBag.contestId, searchATeam = ViewBag.searchStringValue, sortTeams = "Status" })</li>
            <li>@Html.ActionLink("Name", "ContestScores", new { contestID = ViewBag.contestId, searchATeam = ViewBag.searchStringValue, sortTeams = "Name" })</li>
        </ul>
    </div>


    <div id="centerLists">
        <div class="title">
            Winners
            <ul class="droptrue" id="sortable1">
                <li id="first"> First:</li>
                <li id="second"> Second:</li>
                <li id="third"> Third:</li>
            </ul>
        </div>
        <div>
            @if (ViewBag.searchStringValue == "")
            {
                <div class="title">All teams</div>
            }
            else
            {
                <div class="title">Results for: @ViewBag.searchStringValue</div>
                <p>@Html.ActionLink("Get all teams", "ContestScores", new { contestID = ViewBag.contestId })</p>
            }


            <ul id="sortable2" class="droptrue">

                @foreach (var item in Model)
            {

                    <li>
                        <div>@Html.DisplayFor(modelItem => item.TeamName) 
                        @{

                            if (item.FinalScore != null)
                            {
                                @Html.DisplayFor(modelItem => item.FinalScore)<span>/ 7</span>
                            }
                            else
                            {
                                <span>N/A</span>
                            }

                            
                        }
                        
                       </div>
                        <div class="TeamId" hidden>@item.TeamID</div>
                    </li>

                }
            </ul>
        </div>
        <br />
        <div id="finalizeButton">

            @using (Html.BeginForm("PickWinner", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input name="FirstId" id="FirstId" hidden />
                <input name="SecondId" id="SecondId" hidden />
                <input name="ThirdId" id="ThirdId" hidden />
                <button class="btn btn-primary">Finalize Contest</button>
            }
        </div>
    </div>









</div>
