@model Riipen_SSD.AdminViewModels.ContestDetailsVM

@{
    ViewBag.Title = "Contest Details";
}
<link href="~/Styles/ContestDetailResponsiveTables.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="/resources/demos/style.css">
<h2>Contest Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @if (Model.Published)
            {
                @Html.Raw("Yes");
            }
            else
            {
                @Html.Raw("No");
            }
        </dd>

    </dl>
</div>

<table class="judgeTable">
    <caption>Judges</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Judges.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judges.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judges.FirstOrDefault().Email)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Judges)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="participantTable">
    <caption>Participants</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().RiipenUrl)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Participants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.LastName)
                </td>
                <td prewrap>
                    @Html.DisplayFor(x => item.Email)
                </td>
                <td>
                    @{
                        var url = "N/A";
                    }

                    @if (item.RiipenUrl != null && item.RiipenUrl.ToUpper().Contains("HTTP"))
                    {
                        url = item.RiipenUrl;
                    }
                    else
                    {

                        url = "http://" + item.RiipenUrl;
                    }
                    <a href="@url">@item.RiipenUrl</a>

                </td>
            </tr>
                        }
    </tbody>
</table>

<p class="button-group">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @if (Model.Published)
    {
        @Html.ActionLink("Select Winner", "ContestScores", new { ContestID = Model.ContestID }, new { @class = "btn btn-info" })
    }
    else
    {
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#confirmPublishedModal">Publish Contest</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete Contest</button>
    }
</p>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Contest?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete @(Model.Name)?</p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("DeleteContest", new { contestID = Model.ContestID })" class="btn btn-danger btn-confirm-delete">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="confirmPublishedModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Publish Contest?</h4>
            </div>
            <div class="modal-body">
                <p>Publishing will send confirmation emails to all participants and judges registered for @(Model.Name).</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("SendEmails", "Admin", FormMethod.Post))
                {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => Model.ContestID)
                    <button type="submit" class="btn btn-success">Publish Contest</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>