<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
            .navbar-brand 
    {
                margin:0;
                padding: 0;
    }
            .navbar-brand img{
                max-height:50px;
            }
        .navbar-default{
            background-color: #ffffff;
            color: #ffffff;
        }
    </style>
</head>


<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>@{
                    if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                    {
                        <a class="navbar-brand" href='@Url.Action("Index", "Admin")' style="line-height: 40px; color: #FF8436;font-weight: bold;font-style: italic;">
                         Go - Hackathon
                        </a>
                    }
                    else if (Request.IsAuthenticated && (User.IsInRole("Judge")))
                    {
                        <a class="navbar-brand"  href='@Url.Action("Index", "Judge")' style="line-height: 40px; color: #FF8436;font-weight: bold;font-style: italic;">
                            Go - Hackathon
                        </a>
                    }
                    else
                    {
                        <a class="navbar-brand" href='@Url.Action("Index", "Participant")' style="line-height: 40px; color: #FF8436;font-weight: bold;font-style: italic;">
                            Go - Hackathon
                        </a>
                    }


                }
    
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            <li>@Html.ActionLink("Contests", "Index", "Admin")</li>
                        }
                        else if (Request.IsAuthenticated && (User.IsInRole("Judge")))
                        {
                            <li>@Html.ActionLink("Contests", "Index", "Judge")</li>
                        }
                        else if (Request.IsAuthenticated )
                        {
                            <li>@Html.ActionLink("Contests", "Index", "Participant")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Go Hackathon Judge-a-thon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
