
@model PagedList.IPagedList<Riipen_SSD.ViewModels.TeamCriteriaScoreVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Styles/Judge_Participant.css" rel="stylesheet" />

@{
    ViewBag.Title = "contest";
}

@section scripts{
    <script src="~/JavaScript/Judge-Participant.js"></script>

}




@if (User.IsInRole("Judge"))
{
    <link href="~/Styles/JudgeContestResponsiveTable.css" rel="stylesheet" type="text/css" />
}
else if (User.IsInRole("Admin"))
{
    <link href="~/Styles/AdminContestResponsiveTable.css" rel="stylesheet" type="text/css" />
}

<div class="header">
    <p class="title">Contest: <span class="small-title">@ViewBag.contestName</span></p><br />

    <div class="searchForm">
        @using (Html.BeginForm("Contest", "Judge", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <input name="contestID" value="@ViewBag.contestId" hidden />
            <button type="submit" class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
            <input type="text" name="searchATeam" value="@ViewBag.searchStringValue" placeholder="Search"><span class="searchIn">&nbsp;in teams</span>

        }
    </div>
</div>

<div class="judge-participant-wrapper">
    <div class="dropdown" id="sortButton" style="margin-top:10px;margin-bottom:10px;float:right">
        Sort: <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            @ViewBag.sortStringValue
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortMenu">
            <li>@Html.ActionLink("Status", "Contest", new { contestID = ViewBag.contestId, searchATeam = ViewBag.searchStringValue, sortTeams = "Status" })</li>
            <li>@Html.ActionLink("Name", "Contest", new { contestID = ViewBag.contestId, searchATeam = ViewBag.searchStringValue, sortTeams = "Name" })</li>
        </ul>
    </div>

    @if (ViewBag.searchStringValue == "")
    {
        <div class="title">All teams</div>
    }
    else
    {
        <div class="title">Results for: @ViewBag.searchStringValue</div>
        <p>@Html.ActionLink("Get all teams", "Contest", new { contestID = ViewBag.contestId })</p>
    }
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().TeamName)
                </th>


                @if (!User.IsInRole("Admin"))
            {
                    <th>
                        @Html.DisplayNameFor(model => model.First().YourCurrentScore)
                    </th>
                }

                <th>

                    @Html.DisplayNameFor(model => model.First().FinalScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().JudgeNotSubmitted)
                </th>
                @if (User.IsInRole("Judge"))
            {
                    <th>Your judgement</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>

                    @if (item.YourCurrentScore == null)
                {
                    if (!User.IsInRole("Admin"))
                    {
                            <td>
                                @Html.ActionLink("Judge Now", "Team", new { teamID = item.TeamID })
                            </td>
                        }
                    }
                    else {
                        <td>
                            @Html.DisplayFor(modelItem => item.YourCurrentScore)<span> / 7</span>
                        </td>
                    }


                    <td>
                        @if (item.FinalScore == null)
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.FinalScore)<span> / 7</span>
                        }

                    </td>
                    <td>
                        @if (item.JudgeNotSubmitted == 0)
                        {
                            <span>Final</span>
                        }
                        else
                        {
                            if (ViewBag.YourSubmission != null && item.JudgeNotSubmitted==1)
                            {
                                <div class="text-overflow-small">
                                    @if (item.YourCurrentScore != null && !item.Submitted)
                                    {
                                        <span>Waiting for you to submit</span>
                                    }
                                    else
                                    {
                                        <span>Waiting for you to judge</span >
                                    }

                                </div>
                            }else {
                                <span>Waiting for @Html.DisplayFor(modelItem => item.JudgeNotSubmitted) judges</span>
                                <div class="text-overflow-small">
                                    @foreach (var judgeName in item.NamesOfJudgeNotSubmitted)
                                    {
                                        <span>@judgeName</span><br />
                                    }
                                </div>}

                        }


</td>
                    @if (User.IsInRole("Judge"))
                {


                        <td>
                            @if (item.YourCurrentScore != null && !item.Submitted)
                            {
                                @Html.ActionLink("Edit Now", "Team", new { teamID = item.TeamID })

                            }
                            else if (item.YourCurrentScore != null && item.Submitted)
                            {
                                <span>Thanks for judging!</span>
                            }
                            else
                            {
                                <span> </span>
                            }

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="PageDiv">
        <div style="float: right;">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
        @Html.PagedListPager(Model, page => Url.Action("Contest",
        new { page, contestID=ViewBag.contestId, searchATeam = ViewBag.searchStringValue, sortTeams = ViewBag.sortStringValue }))
    </div>
</div>
