@model IEnumerable<Riipen_SSD.ViewModels.ParticipantViewModels.ContestResultVM>


<table class="WinnersTable">
    <thead>
        <tr>
            <th>
                Contest result
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 0;
        }
        @foreach (var item in Model)
        {
            counter++;
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.ActionLink("View team members", "AllTeamMembersForATeam", new { teamID = item.TeamId })
                </td>
            </tr>
        }
    </tbody>
</table>
